{%extends 'base.html'%}
{%block title%}{{object.title}}{%endblock%}
    {%block contents%}
    <br>
    <div class="container">
     <div class="card mb-3" style="max-width: 100%;">
      <div class="row no-gutters">
        <div class="col-5">
          <img src={{object.image.url}} class="card-img" alt="...">
        </div>
        <div class="col-5">
          <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">商品名：{{object.title}}</li>
                <li class="list-group-item">メーカー：{{object.maker}}</li>
                <li class="list-group-item">シリーズ：{{object.category}}</li>
                <li class="list-group-item">メーカー希望価格：{{object.price}}円（税抜）</li>
                <li class="list-group-item">重量：{{object.weight}}g</li>
                <li class="list-group-item">硬さ：{{object.hard}}</li>
                <li class="list-group-item">パウダー：{{object.powder}}</li>
                <li class="list-group-item">コメント：{{object.comment}}</li>         
            </ul>
                    {%if connected%}
                         <a href="{% url 'gumi:follow' pk=object.id %}" class="btn btn-primary">お気に入り解除</a>
                    {%else%}                         
                         <a href="{% url 'gumi:follow' pk=object.id  %}" class="btn btn-outline-primary">お気に入り登録</a>
                    {%endif%}
    
            <a href="{%url 'gumi:index' %}">トップページに戻る<a>  
          </div>
        </div>
      </div>
    </div>
    {%endblock%}